* {
  font-family: "Kanit", sans-serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-os {
  font-family: "Open Sans", sans-serif;
}
.vision {
  background-image: url(../assets/Web\ LeadWay\ 2\ middle\ 1-02.png);
}
.box-1 {
  background-color: #1e1e1e;
}
.bg-1 {
  background-color: rgba(0, 0, 0, 30%);
}
.header-bg {
  background-color: #070065;
}
.text-yellow-1 {
  color: #ecb51d;
}
.line {
  background-color: #ecb51d;
}
.f-95 {
  font-size: 95px;
}
.f-79 {
  font-size: 79px;
}
.f-58 {
  font-size: 58px;
}
.f-40 {
  font-size: 40px;
}
.f-32 {
  font-size: 32px;
}
.f-26 {
  font-size: 26px;
}
.f-28 {
  font-size: 28px;
}
.f-15 {
  font-size: 15px;
}
